<template name="thank-you">
  <section class="application">
    <div class="application--thank-you">
      <h1>Thank you for your interest in working with Tutor App
          and for your completed application submission.</h1>
      <p>Due to the high number of applications we receive, we are unable to respond to all candidates. However, we will review each application carefully and should we believe your skills and experience are a good fit for our app, we will be in touch with you directly.</p>
      <p>Should you have any questions, please feel free to contact the HR team at <a href="mailto:hiring@tutorapp.com">hiring@tutorapp.com</a></p>
    </div>
  </section>
</template>
