.dashboard--account {


  .btn-filter {

    color: black;
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0;
    white-space: pre;
    cursor: pointer;
    display: inline-block;

    .arrow-down, .arrow-up {
      position: relative;
      top: -4px;
      left: 6px;
      display: inline-block;
    }

    .arrow-down {
      @include triangle();
    }

    .arrow-up {
      @include triangle($direction: 'up');
    }

  }

  .lesson-header {
    margin-top: 40px;
    margin-bottom: 15px;

    .date-item {
      font-size: 0.9em;
      font-weight: bold;
      text-align: center;
      color: $blue;
      width: 60px;
      margin-left: 30px;
      @include respond-below($break-medium) {
        margin-left: 0;
      }
    }
  }

  .transaction-history {
    width: 100%;
    margin-top: 50px;
    border-spacing: 0;
    border-collapse: collapse;
    th {
      color: $blue;
      text-align: left;
      padding-bottom: 6px;
    }
    td {
      border-top: 1px solid $border;
      padding: 10px 0;
      font-size: 1.3rem;
    }
  }

  .lesson-item {

    color: black;
    margin: 0 0 20px 30px;

    .icon-item {

      width: 100%;

      .icon-item-copy {

        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .comma {
          display: none;
          @include respond-below($break-medium) {
            display: inline;
          }
        }

        h3 {
          font-weight: normal;
        }

        @include respond-below($break-medium) {
          display: block;
        }

      }
    }

    @include respond-below($break-medium) {
      margin-left: 0;
    }
  }

  &-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 30px;

    @include respond-below($break-mobile){
      display: block;
    }
    @include respond-at-and-above($break-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-navigation {
    @include respond-at-and-above($break-medium) {
      margin-top: 50px;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-navigation {
    li {
        padding: 6px 0;
    }
  }

  &-content {

    @include respond-at-and-above($break-medium) {
      width: 70%;
      .forms--inputs {
        width: 100%;
        max-width: 520px;
        padding: 40px 0;
      }
    }

    p {
      margin: 10px 0;
      padding: 4px 0;
      font-size: 1.1rem;
    }
  }
  &-form-fields-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    > div {
      width: 32%;
    }
  }
}
