<head>
  <title>Tutor App</title>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="title" content="Tutor App">
  <meta name="description" content="We're a new type of tutoring platform.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <script>

    if (location.protocol.toLowerCase() === 'http:' && window.location.hostname === 'tutorapp.com') {
        window.location.href = 'https://tutorapp.com' +
                               (location.pathname ? location.pathname : '') +
                               (location.search ? location.search : '');
    }
</script>
</head>
